.body {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.our-pricing {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-container {
  width: 100%;
}

.plans {
  grid-row: 2;
}
